<h1>Photo Details</h1>


<dl>
  <dt>
  Image
  </dt>
  <dd>
    <img src="<%= @photo.image %>" height="300px">
  </dd>

  <dt>
    Caption
  </dt>
  <dd>
    <%= @photo.caption %>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    <%= @photo.poster.username %>
  </dd>

  <dt>
    Posted
  </dt>
  <dd>
    <%= @photo.created_at %>
  </dd>

  <dt>
    Edit Photo
  </dt>
    <dd>
      <form action="/photos_update/<%= @photo.id %>" method="post">Edit photo</a>
      <label for="userphoto">Image</label>
      <input id="userphoto" type="text" name="userphoto" placeholder="Enter a URL for the image..." value="<%= @photo.image %>">

      <label for="usercaption">Caption</label>
      <textarea id="usercaption" type="text" name="usercaption" placeholder="Enter a caption for the image..." value="<%= @photo.caption %>"></textarea>

      <button type="submit">Update photo</button>
      </form>
    </dd>

    <dt>
      Delete Photo
    </dt>
    <dd>
      <a href="/photos_delete/<%= @photo.id %>">Delete this photo</a>
    </dd>
</dl>

<h2>Comments</h2>

<table border="1">
  <tr>
    <th>Commnetor</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @commenter.each do |comment| %>
    <tr>
      <td><% comment.author_id %>
            <% comment_owner = User.where({:id => comment.author_id}).at(0) %>
            <%= comment_owner.username %>
      </td>
      <td><%= comment.body %></td>
      <td><%= comment.created_at %></td>
    </tr>
  <% end %>
</table>

<h2>Add a new comment</h2>
<form action="/add_comment/<%= @photo.id %>" method="post">
  <label for="photoid">Photo ID</label>
  <input type="text" id="photoid" name="photo_id" value="<%= @photo.id %>" required>

  <label for="authorid">Author ID</label>
  <input type="text" id="authorid" name="author_id" placeholder="Enter your author ID" required>

  <label for="photocomment">Comment</label>
  <textarea id="photocomment" name="comment" placeholder="Enter your comment..." required></textarea>

  <button type="submit">Add comment</button>
</form>
